<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UPTEntities" connectionString="metadata=res://*/UPT.csdl|res://*/UPT.ssdl|res://*/UPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servername;initial catalog=UPT;persist security info=True;user id=sa;password=sifre;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>