
@{
    ViewBag.Title = "Login";
}

<style type="text/css">
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .zui-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        font: normal 13px Arial, sans-serif;
    }

        .zui-table thead th {
            background-color: #DDEFEF;
            border: solid 1px #DDEEEE;
            color: #336B6B;
            padding: 10px;
            text-align: left;
        }

        .zui-table tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 10px;
        }

    .zui-table-rounded {
        border: none;
    }

        .zui-table-rounded thead th {
            background-color: #CFAD70;
            border: none;
            color: #333;
        }

            .zui-table-rounded thead th:first-child {
                border-radius: 10px 0 0 0;
            }

            .zui-table-rounded thead th:last-child {
                border-radius: 0 10px 0 0;
            }

        .zui-table-rounded tbody td {
            border: none;
            border-top: solid 1px #957030;
            background-color: #EED592;
        }

        .zui-table-rounded tbody tr:last-child td:first-child {
            border-radius: 0 0 0 10px;
        }

        .zui-table-rounded tbody tr:last-child td:last-child {
            border-radius: 0 0 10px 0;
        }
</style>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <table id="tblDeposit" class="zui-table zui-table-rounded">
            <thead>
                <tr>
                    <th>AboneId</th>
                    <th>Ad</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Vergi Numarası</th>
                    <th>T.C Kimlik No</th>
                    <th>Kayıt Tarihi</th>
                    <th>Depozito</th>
                    <th>Depozito İade</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button type="submit" id="Deposit">Depozito İade Et</button>
        <button type="submit" id="Close">Aboneliği Kapat</button>
    </div>

</div>

<div>

    <h2>Ödenmemiş Faturalar</h2>
    <br />
    <div id="tblCustomerInvoicesDiv" class="card-header">

        <table id="tblCustomerInvoices" class="zui-table zui-table-rounded">
            <thead>
                <tr>
                    @*<th>AboneId</th>
                        <th>FaturaId</th>
                        <th>Ad</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Vergi Numarası</th>
                        <th>T.C Kimlik No</th>
                        <th>Fatura No</th>*@
                    <th>Fatura Başlığı</th>
                    <th>Son Ödeme Tarihi</th>
                    <th>Fiyat</th>
                    <th>Fatura Öde </th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div>
        <div id="tblCustomerDiv" class="card-header">

            Ödeme Türü :   <select name="Abone Tipi" id="ddPaymentTypes">
                <option value="1">Havale</option>
                <option value="2">EFT</option>
                <option value="3">Nakit</option>
                <option value="4">Kredi Kartı</option>
                <option value="5">Sanal Kart</option>
            </select><br />
        </div><br />
        <button type="submit" id="btnInvoices"> Seçilenleri Öde </button>
    </div>

    <h2>Ödenmişler Ekstresi</h2>
    <br />
    <div id="tblCustomerExtractDiv" class="card-header">

        <table id="tblCustomerExtract" class="zui-table zui-table-rounded">
            <thead>
                <tr>
                    <th>Fatura Başlığı</th>
                    <th>Ödeme Tarihi</th>
                    <th>Fiyat</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<br />

<input type="hidden" id="UserId" value="@Session["UserId"]" />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Customer.js"></script>





